<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <h1>New Book</h1>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/books/create" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title"><br>
        <label for="num_of_pages">Number of Pages:</label>
        <input type="text" name="num_of_pages"><br>
        <input type="submit">
    </form><br>
    <h1>All Books</h1>
    <ul>
        {% for book in books %}
        <li>{{book.name}}</li>
        {% endfor %}
    </ul><br>
    <a href="/authors">Add Author</a>

</body>
</html>